<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralize Cards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-4">
                <a href="/cliente/cadastrarendereco?onEdit=1" class="btn btn-success">+</a>
            </div>
        </div>

        <div class="row justify-content-center" th:each="endereco : ${listEndereco}">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" th:object="${endereco}">
                        <strong>Logradouro: </strong> <p th:text="*{logradouro}" class="card-text"></p>
                        <strong>Numero: </strong>     <p th:text="*{numero}" class="card-text"></p>
                        <strong>Complemento: </strong><p th:text="*{complemento}" class="card-text"></p>
                        <strong>Bairro: </strong>     <p th:text="*{bairro}" class="card-text"></p>
                        <strong>CEP: </strong>        <p th:text="*{cep}" class="card-text"></p>
                        <strong>Cidade: </strong>     <p th:text="*{cidade.nome}" class="card-text"></p>
                        <strong>UF: </strong>         <p th:text="*{cidade.uf}" class="card-text"></p>
                        <a th:href="@{'/endereco/editar'(id=${endereco.id})}" class="btn btn-primary">Editar</a>
                        <a th:href="@{'/cliente/deleteEndereco'(id=${endereco.id})}" class="btn btn-danger">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/cliente/perfil"class="btn btn-danger">Voltar</a>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>