<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Relatório de vendas</title>
</head>
<body>
<input type="date" id="dataIni">
<input type="date" id="dataEnd">
<button onclick="updateGraph()">Atulizar</button>
<div style="height: 50%; width: 50%;">
	<canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	const ctx = document.getElementById('myChart');

	const cfg = {
		type: 'line',
		data: {
			datasets: []
		}
	};

	// [{
	//     "label":"Produto 1",
	//     "data":[{"x":"2016-12-25","y":20},{"x":"2016-12-26","y":10},{"x":"2016-12-27","y":11}]
	// },
	// {
	//     "label":"Produto 2",
	//     "data":[{"x":"2016-12-25","y":10},{"x":"2016-12-26","y":15},{"x":"2016-12-27","y":21}]
	// }]

	var grafico = new Chart(ctx,cfg);

	function updateGraph(){
		let iniDate = document.getElementById("dataIni").value;
		let endDate = document.getElementById("dataEnd").value;

		const myHeaders = new Headers();
		myHeaders.append("Accept", "application/json");

		const requestOptions = {
			method: "GET",
			headers: myHeaders,
			redirect: "follow"
		};


		//fetch('https://run.mocky.io/v3/869f0565-e119-4f33-a685-7ae27f098143') //mock
		fetch('/adm/getrelatorio?dataini=' + iniDate + "&dataend=" + endDate,requestOptions)
				.then(function (response) {
					return dataset = response.json();
				})
				.then(function (dataset){
					cfg.data.datasets = dataset.relatorio;
					grafico.update();
				});
	}


</script>


</body>
</html>