<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Relatório de vendas</title>
</head>
<body>
<input type="date" id="dataIni">
<input type="date" id="dataEnd">
<button id="btDia" onclick="agruparDados()">Por dia</button>
<button id="btSem" onclick="agruparDados('s')">Por Semana</button>
<button id="btMes" onclick="agruparDados('m')">Por Mes</button>
<h1 id="titulo"></h1>
<div style="height: 50%; width: 50%;">
	<canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	const ctx = document.getElementById('myChart');

	const cfg = {
		type: 'line',
		data: {
			datasets: []
		}
	};

	// [{
	//     "label":"Produto 1",
	//     "data":[{"x":"2016-12-25","y":20},{"x":"2016-12-26","y":10},{"x":"2016-12-27","y":11}]
	// },
	// {
	//     "label":"Produto 2",
	//     "data":[{"x":"2016-12-25","y":10},{"x":"2016-12-26","y":15},{"x":"2016-12-27","y":21}]
	// }]

	var grafico = new Chart(ctx,cfg);

	function updateGraph(grouping, iniDate, endDate){

		const myHeaders = new Headers();
		myHeaders.append("Accept", "application/json");

		const requestOptions = {
			method: "GET",
			headers: myHeaders,
			redirect: "follow"
		};

		var url = '/adm/getrelatorio?dataini=' + iniDate + "&dataend=" + endDate;

		if(grouping !== undefined){
			url = url + "&agrupamento=" + grouping;
		}

		//fetch('https://run.mocky.io/v3/869f0565-e119-4f33-a685-7ae27f098143') //mock
		fetch(url,requestOptions)
				.then(function (response) {
					return dataset = response.json();
				})
				.then(function (dataset){
					cfg.data.datasets = dataset.relatorio;
					grafico.update();
				});
	}


	function agruparDados(grouping){
		let iniDate = document.getElementById("dataIni").value;
		let endDate = document.getElementById("dataEnd").value;
		if(iniDate == null || iniDate === undefined || endDate == null || endDate === undefined){
			alert("As datas precisam ser preenchidas");
			return;
		}
		if(iniDate>endDate){
			alert("A data final não pode ser menor que a inicial")
			return;
		}

		var tipoagrupamento;
		if(grouping === undefined){
			tipoagrupamento = "Dia";
		}else if(grouping == "s"){
			tipoagrupamento = "Semana";
		}else if(grouping == "m"){
			tipoagrupamento = "Mês"
		}

		document.getElementById("titulo").textContent = "Vendas por " + tipoagrupamento;
		updateGraph(grouping, iniDate, endDate);
	}

</script>


</body>
</html>